:root
{
    --vertical: 50%;
    --horizontal: 50%;
    --velocidade: 2s;
}

#tabuleiro
{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 600px;
    height: 500px;
    background-color: #f0f3d2;
    border: solid 5px #ff3c009d;
    border-radius: 40px;
    cursor: none;
}

#tabuleiro:active
{
    cursor: none;
}

#numeros
{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}

label
{
    font-family: Impact, sans-serif;
    font-size: 24pt;
    color: #f0f3d2;
    -webkit-text-stroke: 2px black;
}

h1
{
    font-family: Verdana, sans-serif;
    font-size: 40pt;
    margin-top: -6px
}



#mosquito
{
    font-size: 30pt;
    text-shadow: 0px 0px 12px #bb0202;
    position: absolute;
    top: var(--vertical); /* Movimento no eixo y */
    left: var(--horizontal); /* Movimento no eixo x */
    transform: translate(50% 50%);
    transition: var(--velocidade);
}



label,h1
{
    user-select: none;
    -webkit-user-select: none;
}

#game-over
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000c2;
    width: 100%;
    text-align: center;
    font-size: 80pt;
    display: none;
}

@media screen and (max-width: 940px)
{
    #tabuleiro
    {
        width: 400px;
        height: 400px;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #numeros
    {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 70%);
    }
    #mosquito
    {
        font-size: 20pt;
    }
}



#martelo{
    position: fixed;
    width: 100px;
    height: 100px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}

body{
    cursor: none;
    user-select: none;
}

#esmaga {
    position: absolute; /* importante: absoluto dentro do tabuleiro */
    font-size: 50px;
    display: none;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

#btn-inicio
{
    font-family: Impact, sans-serif;
    font-size: 40pt;
    color: #f0f3d2;
    background-color: #f0f3d2;
    border: solid #bb0202 10px;
    border-radius: 40px;
    -webkit-text-stroke: 2px black;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    padding: 20px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%)
}

main
{
    display: none;
}